<div id="space"></div>

<section id="pictures">
 <span id="left"><%= image_tag("sirplus.png", height:'500') %></span>
 <span id="right"><%= image_tag("GentlemanSilhouette4.png", height: '500') %></span>
</section>

