/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles yo5u add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



body {
  background: url(homebg.png);
}

.bg-image {
  background-color: blue;
}

#left, #right {
  display: inline-block;
}

#pictures {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  height: 500px;
  margin-top: -250px;
  margin-left: -500px;
}

#header {
  background-color: #000;
  box-shadow: 2px 2px 2px #ff3366;
}

#header:hover {
  box-shadow: 2px 2px 2px #ff0040;
}
.nav-pills {
  float: right;
  padding-right: 30px;
}

.nav-pills a {
  color: gray;
  font-size: 20px;
}

.nav-pills a:hover {
  color: #00cc99;
}

#space {
  width: 100%;
  height: 3%;
}

#provider {
  float: left;
}




.btn-default, .btn-primary {
  background-color: #00cc99;
  color: white;
  border: 1px solid #e0e0d1;
  padding-left: 115px;
  padding-right: 115px;
}

.btn-default {
  background-color: #ff3366;
}
.btn-default:hover, .btn-primary:hover {
  background-color: #e0e0d1;
  color: black;
  border: 1px solid #cbcbb3;
}
.btn-default:hover {
background-color: #1f1f2e;
color: white;
}

.modal-footer {
  background-color: white;
  border-radius: 7px;
}

h4 {
  text-align: center;
  padding-bottom: 5px;
}

#right-absolute {
  padding-left: 670px;
  margin-top: -500px;
  position: absolute;
}

.pretty-white-box {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 40px;
}
